/output/
/export/
/node-storage/
/.las2peer/
/tmp/
/log/
/lib/
ivy.jar
/service/
/out/
/.idea/
*.iml
.DS_Store
/.settings/
/junitvmwatcher*.properties
/junit*.properties
/etc/
!/etc/ivy/ivy.xml
!/etc/ivy/ivysettings.xml
*.secret
archiva_credentials.xml
join-example-space.html
/frontend/
node-screen.pid
